:root {
  --theme-color: #5f35f5;
  --primary-fontfamily: "Nunito", sans-serif;
  --secondary-fontfamily: "Open Sans", sans-serif;
  --font-color: #11175d;
  --black-color: #000;
  --white-color: #fff;
  --orange-color:#EA6C00;
}
* {
  padding: 0px;
  margin: -0px;
}
a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}
